/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-green: hsla(160, 100%, 37%, 1);

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 135px;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 135px;
  color: var(--vt-c-green);
  text-align: center;
}

nav {
  text-align: center;
  display: flex;
  gap: 10px;
}

nav a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

nav a:hover {
  border-color: #646cff;
}

nav a:focus,
nav a:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav a.active {
  border-color: var(--vt-c-green);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside ul {
  padding: 0;
}

footer {
  text-align: center;
}

.selector__head {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.selector__head div {
  display: flex;
  gap: 15px;
}

.selector__head button.active {
  border-color: var(--vt-c-green);
  border-width: 2px;
}

.selector ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.selector ul li a {
  color: var(--color-text);
}

.selector ul li a.active {
  color: var(--vt-c-green);
}

.degrees__list {
  list-style: none;
  padding: 20px;
  margin: auto;
}

.degrees__list__item {
  width: 100%;
}

.degree {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.degree__index {
  font-size: 2.7em;
  font-weight: bold;
  text-align: center;
}

.degree__infos {
  padding-left: 10px;
}

.degree__infos__title {
  display: flex;
  align-items: center;
}

.degree__infos__title h2 {
  flex: 1;
}

.degree__infos__title a {
  font-size: 25px;
  color: var(--vt-c-green);
  cursor: pointer;
}

.degree__infos__content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.degree__infos__content li.active {
  color: var(--vt-c-green);
  border-bottom: 3px solid var(--vt-c-green);
}

.error {
  text-align: center;
}

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    padding: 0 2rem;
    gap: 40px;
  }

  .degrees__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .degrees__list__item {
    width: auto;
  }

  .degree {
    grid-template-columns: 1fr 3fr;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}